@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
:root {
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  --White: hsl(0, 0%, 100%);
}
body {
  min-height: 100vh;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
.header {
  /* margin: 0 auto; */
  background: center/cover no-repeat url(images/pattern-bg-desktop.png);
  position: relative;
  min-height: 30vh;

  padding: 6rem;
}
.heading-primary {
  color: var(--White);
  font-size: 3.4rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 500;
}
.header__search-box {
  display: flex;
  width: 100%;
  max-width: 56rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.input--search {
  padding-left: 2rem;
  border: none;
  width: 100%;
  border-radius: 12px 0 0 12px;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn--search {
  padding: 2.2rem;
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: var(--Very-Dark-Gray);
  cursor: pointer;
}

.input--search:focus,
.btn--search:focus {
  outline: none;
  box-shadow: 0 1rem 3rem rgb(51, 51, 51, 0.3);
}
.tracker--information {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 100%;
  max-width: 110rem;
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  background-color: var(--White);
  border-radius: 20px;
  z-index: 9999;
}
.ip--address,
.location,
.timezone,
.isp {
  width: 25%;
  padding: 0 2rem;
}
.ip--address,
.location,
.timezone {
  border-right: 1px solid rgb(150, 150, 150);
}
.tracker--heading {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--Dark-Gray);
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}
.tracker--paragraph {
  color: var(--Very-Dark-Gray);
  font-size: 2.5rem;
  font-weight: 500;
}

.map-container {
  height: 80vh;
  position: relative;
}
#map {
  height: 100%;
  position: absolute;
  inset: 0;
}

.attribution {
  position: absolute;
  bottom: 0.4rem;
  right: 0.4rem;
  font-size: 11px;
  text-align: center;
  font-size: 1.4rem;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 0.6rem 1rem;
  border-radius: 12px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .tracker--information {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .header {
    padding-bottom: 10rem;
  }
  .header__search-box {
    margin-bottom: 10rem;
  }

  .tracker--heading {
    text-align: center;
  }

  .tracker--information {
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .ip--address,
  .location,
  .timezone,
  .isp {
    width: 100%;
    padding: 1rem 0 0.4rem;
    text-align: center;
  }
  .ip--address,
  .location,
  .timezone {
    border-right: none;
    border-bottom: 1px solid rgb(150, 150, 150, 0.3);
  }

  .input--search::placeholder {
    font-size: 1.6rem;
  }
  .attribution {
    right: 50%;
    transform: translateX(50%);
    width: 60%;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 50%;
  }
  /* .heading {
    font-size: 2.8rem;
  } */
  .input--search {
    padding-left: 1rem;
  }
  .input--search::placeholder {
    font-size: 1.3rem;
  }
  .attribution {
    width: 90%;
  }
}
